<div *ngIf="lineItems.length > 0; else noData">
  <table>
    <thead>
      <tr>
        <th>Product Description</th>
        <th>SKU</th>
        <th>HSN</th>
        <th>Chargeable Quantity</th>
        <th>Free Quantity</th>
        <th>Shipped Quantity</th>
        <th>Billed Quantity</th>
        <th>Unit</th>
        <th>Discount</th>
        <th>Rate</th>
        <th>MRP</th>
        <th>Amount</th>
        <th>Bill Total Amount Before Discount</th>
        <th>Bill Total Amount After Discount</th>
        <th>Bill Damage Percent</th>
        <th>Bill Damage Amount</th>
        <th>Bill Discount Percent</th>
        <th>Filename</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lineItems">
        <td>{{ item.Product_description }}</td>
        <td>{{ item.SKU }}</td>
        <td>{{ item.HSN }}</td>
        <td>{{ item.Chargeable_quantity }}</td>
        <td>{{ item.Free_quantity }}</td>
        <td>{{ item.Shipped_quantity }}</td>
        <td>{{ item.Billed_quantity }}</td>
        <td>{{ item.Unit }}</td>
        <td>{{ item.Discount }}</td>
        <td>{{ item.Rate }}</td>
        <td>{{ item.MRP }}</td>
        <td>{{ item.Amount }}</td>
        <td>{{ item.Bill_Total_Amount_Before_Discount }}</td>
        <td>{{ item.Bill_Total_Amount_After_Discount }}</td>
        <td>{{ item.Bill_Damage_Percent }}</td>
        <td>{{ item.Bill_Damage_Amount }}</td>
        <td>{{ item.Bill_Discount_Percent }}</td>
        <td>{{ item.filename }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noData>
  <p>No line items found for this invoice.</p>
</ng-template>
