.m-header {
    border-right: 0.5px solid rgba(0, 0, 0, .125) !important;
    // border-bottom: 0.5px solid rgba(0, 0, 0, .125) !important;
    border-left: 0.5px solid rgba(0, 0, 0, .125) !important;
}

.logo{
    margin: 15px;
    height: 60px;
}